## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [51]:
# Your code here
sample_list_1=random.sample(range(0,101), k=80)
print(sample_list_1)

[3, 9, 31, 81, 16, 24, 74, 91, 34, 69, 32, 40, 12, 54, 58, 72, 47, 15, 82, 83, 71, 84, 26, 2, 35, 55, 76, 65, 87, 20, 90, 67, 43, 17, 22, 89, 99, 21, 45, 49, 0, 6, 30, 29, 33, 79, 66, 95, 11, 27, 93, 98, 100, 18, 56, 39, 73, 10, 53, 77, 86, 19, 50, 38, 57, 88, 7, 62, 92, 44, 85, 97, 1, 60, 51, 8, 70, 4, 46, 61]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [52]:
# Your code here
set1=set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 43, 44, 45, 46, 47, 49, 50, 51, 53, 54, 55, 56, 57, 58, 60, 61, 62, 65, 66, 67, 69, 70, 71, 72, 73, 74, 76, 77, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99, 100}

80

In [29]:
##The length of the set is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [42]:
# Your code here
sample_list_2=[]
for i in range(0,80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[61, 43, 98, 99, 82, 91, 92, 82, 84, 96, 11, 68, 55, 84, 81, 28, 85, 92, 83, 66, 21, 30, 35, 16, 42, 47, 6, 37, 73, 42, 92, 11, 43, 79, 4, 23, 84, 56, 43, 54, 59, 33, 73, 49, 9, 64, 85, 93, 64, 31, 74, 84, 10, 9, 22, 90, 85, 100, 69, 3, 54, 42, 71, 11, 26, 52, 14, 24, 46, 59, 79, 43, 59, 82, 25, 24, 19, 1, 29, 69]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [53]:
# Your code here
set2=set(sample_list_2)
print(set2)
len(set2)

{1, 3, 4, 6, 9, 10, 11, 14, 16, 19, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 33, 35, 37, 42, 43, 46, 47, 49, 52, 54, 55, 56, 59, 61, 64, 66, 68, 69, 71, 73, 74, 79, 81, 82, 83, 84, 85, 90, 91, 92, 93, 96, 98, 99, 100}

55

In [30]:
##The length of the set is not 80 because it has repeated elements

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [54]:
# Your code here
set3=set1.difference(set2)
print(set3)

{0, 2, 7, 8, 12, 15, 17, 18, 20, 27, 32, 34, 38, 39, 40, 44, 45, 50, 51, 53, 57, 58, 60, 62, 65, 67, 70, 72, 76, 77, 86, 87, 88, 89, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [55]:
# Your code here
set4=set2.difference(set1)
print(set4)

{64, 96, 68, 37, 42, 14, 52, 23, 25, 59, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [56]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{1, 3, 4, 6, 9, 10, 11, 16, 19, 21, 22, 24, 26, 29, 30, 31, 33, 35, 43, 46, 47, 49, 54, 55, 56, 61, 66, 69, 71, 73, 74, 79, 81, 82, 83, 84, 85, 90, 91, 92, 93, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [58]:
# Your code here
# If you draw a venn diagram you can see that set1 + set4 are disjoint sets that both contain all of the elements of 1 and 2, and the same happens with sets 3 and 2, so the next formula should be true always
lenghts = [len(set1), len(set2), len(set3), len(set4), len(set5)]
print(lenghts)
len(set1)+len(set4)==len(set3)+len(set2)

[80, 55, 36, 11, 44]

True

#### Create an empty set called `set6`.

In [66]:
# Your code here
set6=set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [67]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 43, 44, 45, 46, 47, 49, 50, 51, 53, 54, 55, 56, 57, 58, 60, 61, 62, 65, 66, 67, 69, 70, 71, 72, 73, 74, 76, 77, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [68]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [69]:
# Your code here
set2.issubset(set1)

False

In [70]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [71]:
# Your code here
bigset345=set3.union(set4).union(set5)
bigset12=set1.union(set2)
bigset345 == bigset12

True

#### Using the `pop` method, remove the first element from `set1`.

In [89]:
# Your code here
set1.pop()
print(set1)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 43, 44, 45, 46, 47, 49, 50, 51, 53, 54, 55, 56, 57, 58, 60, 61, 62, 65, 66, 67, 69, 70, 71, 72, 73, 74, 76, 77, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [96]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for element in list_to_remove:
    if element in set1:
        set1.remove(element)
print(set1)

{2, 3, 4, 6, 7, 8, 10, 12, 15, 16, 17, 18, 20, 22, 24, 26, 27, 30, 32, 33, 34, 35, 38, 40, 43, 44, 45, 46, 47, 50, 53, 54, 55, 56, 57, 58, 60, 62, 65, 66, 67, 70, 72, 73, 74, 76, 77, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 97, 98, 100}